@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
-----------------------
    MAIN APP
-----------------------
*/
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
/*
----------------------
      TITLE
----------------------
*/
h1{
    color: orange;
    text-align: center;
  }
  h3{
    color: #000;
    text-align: center;
    line-height: 1.6;
  }  
  /* 
  ----------------------
        BUTTONS
  ----------------------
  */
  .stButton > button {
    background-color: orange;
    color: white;
    z-index: 4;
    margin-left: 45%;
  }
  .stButton > button:hover {
    background-color: #722F37;
    color: #fff;
  } 
  .stTextInput
  {
    color: #000000;
  }
  .stTextInput > div > div > input {
    color: #000000;
  } 